// 样式配置

//导航字体默认颜色
$siderNavFontColor:#666;
//菜单项选择中字体颜色
$menuActiveFontColor:#2d8cf0;
//菜单项选择中右侧块颜色
$menuActiveBorderColor:#2d8cf0;
//菜单项选择中背景颜色
$menuActiveBackgroundColor:#f0faff;
//导航字体hover颜色
$menuHoverFontColor:#2d8cf0;
//logo字体颜色
$logoFontColor:#2d8cf0;

